<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout class="page">
    <!-- <Image src="~/user.png" ></Image> -->

    <TextField 
        id="agentName" 
        hint="Nome do agente" 
        [text]="agentName" 
        secure="false"
        returnKeyType="done" 
        (returnPress)="onReturnPress($event)"
        autocorrect="false"
        (textChange)="onTextChange($event)"
        class="input input-border"></TextField>

    <TextField 
        id="agentID" 
        hint="Matricula do agente" 
        keyboardType="number"
        [text]="agentName" 
        secure="false"
        returnKeyType="done" 
        (returnPress)="onReturnPress($event)"
        autocorrect="false"
        (textChange)="onTextChange($event)"
        class="input input-border"></TextField>
        
    <TextField 
        id="agentPhoneNumber" 
        hint="Telefone do agente" 
        keyboardType="phone"
        [text]="agentName" 
        secure="false"
        returnKeyType="done" 
        (returnPress)="onReturnPress($event)"
        autocorrect="false"
        (textChange)="onTextChange($event)"
        class="input input-border"></TextField>

    <ListPicker [items]="agentTypes" [selectedIndex]="agentType" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>

    <Button [text]="textButton" (tap)="tapStart($event)"></Button>
</StackLayout>
